REACT_APP_API_URL=http://localhost:5000
REACT_APP_WEBSOCKET_URL=ws://localhost:5000
REACT_APP_LEAFLET_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
REACT_APP_ROUTING_API=https://router.project-osrm.org/route/v1/driving/
REACT_APP_GEOCODING_API=https://nominatim.openstreetmap.org/search
